@{
    ViewBag.Title = "TechieRathore ASP.Net Blog Samples";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is the sample companion code for all the ASP.NET related blogs written by S.Ravi Kumar (aka TechieRathore)
</p>
